* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 18px;
     overflow: hidden;
}
.container {
     overflow: hidden;
     position: relative;
     height: 100vh;
     background-color: $Dark-cyan;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.bg-pattern-top, .bg-pattern-bottom {
     position: absolute;
}
.bg-pattern-top {
     transform: translate(-70%,-30%);
     @media screen and (max-width: 767.98px) {
          transform: translate(-50%,-30%); 
     }
}
.bg-pattern-bottom {
     transform: translate(80%, 50%);
     @media screen and (max-width: 767.98px) {
          transform: translate(40%, 50%);    
     }
     
}
.d-flex-center-center {
     display: flex;
     align-items: center;
     justify-content: center;
}